- name: Download OpenCV Android SDK
      run: |
        VERSION="4.7.0"
        FILE="opencv-${VERSION}-android-sdk.zip"
        URL="https://github.com/opencv/opencv/releases/download/${VERSION}/${FILE}"

        wget -q --show-progress "$URL" -O "$FILE"
        unzip -q "$FILE" -d opencv-sdk
        echo "OpenCV_DIR=$(pwd)/opencv-sdk/OpenCV-android-sdk/sdk/native/jni" >> $GITHUB_ENV
        echo "CMAKE_PREFIX_PATH=$(pwd)/opencv-sdk/OpenCV-android-sdk/sdk/native/jni" >> $GITHUB_ENV

    - name: Fix Gradle config (gradle.properties + wrapper)
      run: |
        cat <<EOF > gradle.properties
org.gradle.jvmargs=-Xmx2G -Dfile.encoding=UTF-8
android.useAndroidX=true
android.nonTransitiveRClass=true
EOF
        sed -i 's#distributionUrl=.*#distributionUrl=https://services.gradle.org/distributions/gradle-8.10.2-all.zip#' gradle/wrapper/gradle-wrapper.properties

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build Debug APK
      env:
        OpenCV_DIR: ${{ env.OpenCV_DIR }}
        CMAKE_PREFIX_PATH: ${{ env.CMAKE_PREFIX_PATH }}
      run: ./gradlew assembleDebug --stacktrace
